#main-nav {
  background-color: rgba(40, 184, 240, .3);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 0rem;
}

a {
  color: white;
  text-decoration: none;
}

#main-content {
  position: absolute;
  padding-top: 6rem;
  text-align: center;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
}

#login {
  position: absolute;
  top: 1rem;
  right: 5.7rem;
}

#register {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#sign-out {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

input {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  display: inline-block;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.btn {
  color: white;
  background-color: cornflowerblue;
  height: 2rem;
  width: 9rem;
  box-sizing: border-box;
  border-radius: 10%;
}
